<div class="container">
    <h1>Registrar Pulsacion</h1>
<form class="g-3"autocomplete="off">
    <div class="col-md-4">
        <div class="col-md-5" >
            <label for="inputEmail4" class="form-label">Identificacion</label>
            <input [(ngModel)]="persona.id" type="text" class="form-control" id="identificacion" name="identificacion">
          </div>
    </div>
  <div class="col-md-4">
    <div class="col-md-5">
        <label for="inputPassword4" class="form-label">Nombre</label>
        <input [(ngModel)]="persona.nombre" type="text" class="form-control" id="nombre" name="nombre">
      </div>
  </div>
    <div class="col-md-4">
        <div class="col-md-5">
            <label for="inputCity" class="form-label">Edad</label>
            <input  [(ngModel)]="persona.edad" type="number" class="form-control" id="edad" name="edad">
          </div>
    </div>
    
  </form>
  <div class="col-md">
    <div class="col-md-2">
        <select [(ngModel)]="persona.sexo" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="sexo" name="sexo">
      <option selected>SEXO</option>
      <option value="M">MASCULINO</option>
      <option value="F">FEMENINO</option>
    </select>
    </div>
  
  </div>
  
  <div class="col-12">
    <button type="button" (click)="guardar()" class="btn btn-primary">REGISTRAR</button>
  </div>
</div>