<table class="table">
    <thead>
      <tr>
        <th scope="col">Identificacion</th>
        <th scope="col">Nombre</th>
        <th scope="col">Sexo</th>
        <th scope="col">Edad</th>
        <th scope="col">Pulsacion</th>
        <th scope="col">Modificar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody *ngFor="let persona of personas">
        <tr>
            <td>{{persona.id}}</td>
            <td>{{persona.nombre}}</td>
            <td>{{persona.sexo}}</td>
            <td>{{persona.edad}}</td>
            <td>{{persona.pulsacion}}</td>
            <td><button type="button" routerLink="/modificar/{{persona.id}}" class="btn btn-primary">MODIFICAR</button></td>
            <td><button type="button" (click)="eliminar(persona.id)" class="btn btn-primary">Eliminar</button></td>

          </tr>
    </tbody>
  </table>
